html{
   overflow: auto;
  /* --clip-path-top:polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%);  */

  --clip-path-top:polygon(100% 0%, 0% 0% , 0.00% 77.05%, 2.00% 75.48%, 4.00% 74.05%, 6.00% 72.79%, 8.00% 71.71%, 10.00% 70.84%, 12.00% 70.19%, 14.00% 69.76%, 16.00% 69.56%, 18.00% 69.60%, 20.00% 69.87%, 22.00% 70.38%, 24.00% 71.11%, 26.00% 72.05%, 28.00% 73.19%, 30.00% 74.51%, 32.00% 75.98%, 34.00% 77.60%, 36.00% 79.32%, 38.00% 81.12%, 40.00% 82.98%, 42.00% 84.86%, 44.00% 86.74%, 46.00% 88.58%, 48.00% 90.36%, 50.00% 92.05%, 52.00% 93.61%, 54.00% 95.04%, 56.00% 96.30%, 58.00% 97.38%, 60.00% 98.25%, 62.00% 98.91%, 64.00% 99.34%, 66.00% 99.53%, 68.00% 99.49%, 70.00% 99.22%, 72.00% 98.71%, 74.00% 97.98%, 76.00% 97.04%, 78.00% 95.90%, 80.00% 94.58%, 82.00% 93.11%, 84.00% 91.49%, 86.00% 89.77%, 88.00% 87.97%, 90.00% 86.11%, 92.00% 84.23%, 94.00% 82.35%, 96.00% 80.51%, 98.00% 78.73%, 100.00% 77.05%);
}

body{
    font-family: Arial, sans-serif;
}

h1, h2, h3{
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;  
}

p, a{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200, bold;
    font-style: normal;
    letter-spacing: 1px;   
    color: rgb(56, 56, 56);     
}

.bsb-hero-1{   
    background-image: url('../img/img_teste.jpg');
    height: 70vh;
    max-width: 100%;
    max-height: 100%; 
    clip-path: var(--clip-path-top);
    z-index: 2;
}

.sobre, .traje{    
    background-image: url('../img/wallpaper01_large.png');    
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;    
}

@media (max-width: 1000px){
    .sobre, .traje{    
        background-image: url('../img/wallpaper_mobileResolution.png');    
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center;         
    }
}


.local, .reserva{
    background-color:#666956 ;   
}

.linha-dourada {
    width: 50%; 
    height: 1px;
    background-color: rgb(225, 160, 62); 
    margin: 20px auto; 
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#btnConfirmar{
    background-color: #fff;
    color: #777;
    animation: pulsar 1.5s infinite;
}

@keyframes pulsar {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.box {
    position: relative;
  }

.box::before {
    content: "";
    width: 100px;
    height: 100px;    
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.box-body {
    position: relative;
    height: 150px;
    width: 150px;
    margin-top: 123.3333333333px;    
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color: #ee9e3d;   
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    /* background-color: linear-gradient(#762c2c,#ea9289);  */
}

.box-body .img{
    opacity: 0;
    transform: translateY(0%);
    transition: all 0.5s;
    margin: 0 auto;
    display: block;
    
}


.box-body {
    cursor: pointer;
    -webkit-animation: box-body 1s forwards ease-in-out;
    animation: box-body 1s forwards ease-in-out;
}


.box-body.animate .img{
    opacity: 1;
    z-index: 0;
    transform: translateY(-157px); 
    
}

.box-body.animate .box-lid {
    -webkit-animation: box-lid 1s forwards ease-in-out;
    animation: box-lid 1s forwards ease-in-out;
}

.box-body.animate .box-bowtie::before {
    -webkit-animation: box-bowtie-left 1.1s forwards ease-in-out;
    animation: box-bowtie-left 1.1s forwards ease-in-out;
}

.box-body.animate .box-bowtie::after {
    -webkit-animation: box-bowtie-right 1.1s forwards ease-in-out;
    animation: box-bowtie-right 1.1s forwards ease-in-out;
}

.box-body.animate::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50px;
    background: linear-gradient(#ffffff,#ffefa0);
}

.box-lid {
    position: absolute;
    z-index: 2;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 90%;
    height: 40px;
    background-color: #a2f7e5;   
    width: 170px;
    border-radius: 5%;
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
}

.box-lid::after {
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50px;
    background: linear-gradient(#ffefa0,#fff);
} 

.box-bowtie {
    z-index: 1;
    height: 100%;
}  

.box-bowtie::before, .box-bowtie::after {
    content: "";
    width: 83.3333333333px;
    height: 83.3333333333px;
    border: 16.6666666667px solid rgb(247, 160, 53);
    border-radius: 50% 50% 0 50%;
    position: absolute;
    bottom: 99%;
    z-index: -1;
}

.box-bowtie::before {
    left: 50%;
    -webkit-transform: translateX(-100%) skew(10deg, 10deg);
            transform: translateX(-100%) skew(10deg, 10deg);
}

.box-bowtie::after {
    left: 50%;
    -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
    transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
}

@-webkit-keyframes box-lid {
    0%,
    42% {
        -webkit-transform: translate3d(-50%, 0%, 0) rotate(0deg);
                transform: translate3d(-50%, 0%, 0) rotate(0deg);
    }
    60% {
        -webkit-transform: translate3d(-85%, -230%, 0) rotate(-25deg);
                transform: translate3d(-85%, -230%, 0) rotate(-25deg);
    }
    90%, 100% {
        -webkit-transform: translate3d(-119%, 225%, 0) rotate(-70deg);
                transform: translate3d(-119%, 225%, 0) rotate(-70deg);
    }
}

@keyframes box-lid {
    0%,
    42% {
        -webkit-transform: translate3d(-50%, 0%, 0) rotate(0deg);
                transform: translate3d(-50%, 0%, 0) rotate(0deg);
    }
    60% {
        -webkit-transform: translate3d(-85%, -230%, 0) rotate(-25deg);
                transform: translate3d(-85%, -230%, 0) rotate(-25deg);
    }
    90%, 100% {
        -webkit-transform: translate3d(-119%, 225%, 0) rotate(-70deg);
                transform: translate3d(-119%, 225%, 0) rotate(-70deg);
    }
}
@-webkit-keyframes box-body {
    0% {
        -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
                transform: translate3d(0%, 0%, 0) rotate(0deg);
    }
    25% {
        -webkit-transform: translate3d(0%, 25%, 0) rotate(20deg);
                transform: translate3d(0%, 25%, 0) rotate(20deg);
    }
    50% {
        -webkit-transform: translate3d(0%, -15%, 0) rotate(0deg);
                transform: translate3d(0%, -15%, 0) rotate(0deg);
    }
    70% {
        -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
                transform: translate3d(0%, 0%, 0) rotate(0deg);
    }
}
@keyframes box-body {
    0% {
        -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
                transform: translate3d(0%, 0%, 0) rotate(0deg);
    }
    25% {
        -webkit-transform: translate3d(0%, 25%, 0) rotate(20deg);
                transform: translate3d(0%, 25%, 0) rotate(20deg);
    }
    50% {
        -webkit-transform: translate3d(0%, -15%, 0) rotate(0deg);
                transform: translate3d(0%, -15%, 0) rotate(0deg);
    }
    70% {
        -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
                transform: translate3d(0%, 0%, 0) rotate(0deg);
    }
}
@-webkit-keyframes box-bowtie-right {
    0%,
    50%,
    75% {
        -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
                transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
    }
    90%,
    100% {
        -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
                transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
        box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
    }
}
@keyframes box-bowtie-right {
    0%,
    50%,
    75% {
        -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
                transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
    }
    90%,
    100% {
        -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
                transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
        box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
    }
}
@-webkit-keyframes box-bowtie-left {
    0% {
        -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
                transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    }
    50%,
    75% {
        -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
                transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    }
    90%,
    100% {
        -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
                transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    }
}
@keyframes box-bowtie-left {
    0% {
        -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
                transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    }
    50%,
    75% {
        -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
                transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    }
    90%,
    100% {
        -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
                transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: translateY(-157px) scale(1); 
    }
    50% {
        transform: translateY(-157px) scale(1.1); 
    }
}
